/* Meeting.module.css */

/* General styles */
.mainContainer {
    height: 100vh;
    width: 100%;
  }
  
  /* Stream video overrides */
  .callStats {
    max-width: 500px;
    position: relative;
  }
  
  .speakerLayoutWrapper {
    max-height: 700px;
  }
  
  .participantDetails {
    color: white;
  }
  
  .menuContainer {
    color: white;
  }
  
  .notification {
    color: white;
  }
  
  .participantList {
    background-color: #1c1f2e;
    padding: 10px;
    border-radius: 10px;
    color: white;
    height: 100%;
  }
  
  .callControlsButton {
    height: 40px;
  }
  
  .glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  
  .glassmorphism2 {
    background: rgba(138, 27, 213, 0.25);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  
  /* Clerk class overrides */
  .clProviderIconGithub {
    filter: invert(1);
  }
  
  .clUserButtonPopoverActionButtonIcon {
    color: white;
  }
  
  .clLogoBox {
    height: 40px;
  }
  
  .clDividerLine {
    background: #252a41;
    height: 2px;
  }
  
  .clSocialButtonsIconButton {
    border: 3px solid #565761;
  }
  
  .clInternalWkkub3 {
    color: white;
  }
  
  .clUserButtonPopoverActionButton {
    color: white;
  }
  
  /* Utilities */
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Animation */
  .showBlock {
    width: 100%;
    max-width: 350px;
    display: block;
    animation: show 0.7s forwards linear;
  }
  
  @keyframes show {
    0% {
      animation-timing-function: ease-in;
      width: 0%;
    }
    100% {
      animation-timing-function: ease-in;
      width: 100%;
    }
  }
  